@font-family-overall: 'Avenir', Helvetica, Arial, sans-serif;
@color-theme: #2c3e50;
@tabbar-margin-top: 50px;
@bavbar-margin-bottom: 50px;
@height-100n: 100%;
@width-100n: 100%;
@width-80n: 80%;
@height-240px: 240px;
#app {
  font-family: @font-family-overall;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: @color-theme;
}

.tabbar-handler-bottom {
  margin-top: @tabbar-margin-top;
}

.bavbar-handler-top {
  margin-bottom: @bavbar-margin-bottom;
}

.home-swipe-img {
  height: @height-240px;
  width: @width-100n;
}

.popup-right-content {
  height: @height-100n;
  width: @width-80n;
  .top-close-partition {
    height: 50px;
  }
}



